// @use "@/page/<route>" as *; // File import statement

// >>> Controllers — START
@use "@/scss/controllers/dynamics" as *; // controllers for mixins and variables
@use "@/scss/controllers/extends" as *; // controller for modules
// <<<<< Controllers — END

.tests_page {
	.vert_charts {
		height: 400px;

		.vert_chart {
			width: 84px;
			height: 100%;
			border-top-left-radius: 50rem;
			border-top-right-radius: 50rem;
			transition: 0.75s ease-in-out;

			&.ready,
			&.wait {
				height: 50px;

				&.triggered {
					height: 400px;
				}
			}

			&.ready {
				background-color: $color_white;
			}

			&.wait {
				background-color: $color_first;
			}
		}
	}
}

/////
////
/*/ ==================== @media ==================== /*/
/////////////
////////////
////////////////////////
/* @media (max-width) */
////////////////////////

@media (max-width: 1399.98px) {
	.tests_page {
	}
}

@media (max-width: 1199.98px) {
	.tests_page {
	}
}

@media (max-width: 991.98px) {
	.tests_page {
	}
}

@media (max-width: 767.98px) {
	.tests_page {
	}
}

@media (max-width: 575.98px) {
	.tests_page {
	}
}

// -------------- //

////////////////////
/* @media between */
////////////////////

@media (min-width: 576px) and (max-width: 767.98px) {
	.tests_page {
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.tests_page {
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.tests_page {
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.tests_page {
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.tests_page {
	}
}

// ------------------ //

////////////////////////
/* @media (min-width) */
////////////////////////

@media (min-width: 576px) {
	.tests_page {
	}
}

@media (min-width: 768px) {
	.tests_page {
	}
}

@media (min-width: 992px) {
	.tests_page {
	}
}

@media (min-width: 1200px) {
	.tests_page {
	}
}

@media (min-width: 1400px) {
	.tests_page {
	}
}

// ---------------- //

//////////////////////
/* mobile landscape */
//////////////////////

@media (max-height: 400px) and (orientation: landscape) {
	.tests_page {
	}
}

// ----------------- //

///////////////////////
/* iPad Pro portrait */
///////////////////////

@media (width: 1024px) and (height: 1366px) {
	.tests_page {
	}
}

// ----------------------- //

/////////////////////////////
/* all browsers (iOS only) */
/////////////////////////////

@supports (-webkit-touch-callout: none) and (hover: none) and (pointer: coarse) {
	.tests_page {
	}
}

// ------------------- //

/////////////////////////
/* Safari (MacOS only) */
/////////////////////////

@supports (-webkit-touch-callout: default) and (hover: hover) and (pointer: fine) {
	.tests_page {
	}
}
