# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
/.cursor/
/.pnpm-store/
/.vscode/
/.DS_Store
/**/.directory

# backend
/backend/storage/backups/
/backend/vendor/
/backend/.phpunit.cache
/backend/.phpunit.result.cache
/backend/boost.json
/backend/config/custom_cors_domains.php
/backend/public/storage

# frontend
/frontend/*.tsbuildinfo
/frontend/.next
/frontend/next-env.d.ts
/frontend/node_modules
/frontend/out
/frontend/public/fonts/*
# Comment the following entry if it's an internal project
/frontend/lang/*

# env/secrets
/backend/.env*
/frontend/.env*

# overrides
!/**/.gitkeep