//
// Elements movement animations
//

// >>> Controllers — START
@use "../controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END

// Copy, paste and uncomment the following code into the intended SCSS page to style this module:
// @extend %fx;

%fx_move {
	.fx {
		&.slide {
			&.top {
				transform: translate3d(0, -100%, 0);
			}

			&.right {
				transform: translate3d(100%, 0, 0);

				&.vw {
					transform: matrix(1, 0, 0, 1, 2000, 0);
				}
			}

			&.bottom {
				transform: translate3d(0, 100%, 0);
			}

			&.left {
				transform: translate3d(-100%, 0, 0);

				&.left_vw {
					transform: matrix(1, 0, 0, 1, -2000, 0);
				}
			}

			&.small_y_rotate {
				opacity: 1;
				transition:
					opacity 2s ease-in-out,
					transform 2s ease-in-out;
				transform: matrix(1, 0, 80, 1, 0, 0);
			}

			&.big_y {
				opacity: 1;
				transition:
					opacity 2s ease-in-out,
					transform 2s ease-in-out;
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
		}

		&.edge {
			@at-root *:has(> .edge) {
				overflow: hidden;
				transform-style: preserve-3d;
			}

			width: 100%;

			&.top {
				transform: translate3d(0px, -250%, 0px);
			}

			&.right {
				transform: translate3d(-250%, 0px, 0px);
			}

			&.bottom {
				transform: translate3d(0px, 250%, 0px);
			}

			&.left {
				transform: translate3d(250%, 0px, 0px);
			}

			&.triggered {
				transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.75s !important;
			}
		}

		&.fade {
			opacity: 0;
		}

		&.reveal {
			position: relative;
			overflow: hidden;

			// Pseudo-element `::before` creates the cover effect
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: currentcolor; // Enables color control through HTML
				transform: translate3d(0, 0%, 0);
				transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.75s;
			}

			&.top,
			&.right,
			&.left,
			&.bottom {
				transform: unset;
			}

			&.triggered {
				&.top {
					&::before {
						transform: translate3d(0, 101%, 0) !important;
					}
				}

				&.right {
					&::before {
						transform: translate3d(-101%, 0, 0) !important;
					}
				}

				&.bottom {
					&::before {
						transform: translate3d(0, -101%, 0) !important;
					}
				}

				&.left {
					&::before {
						transform: translate3d(101%, 0, 0) !important;
					}
				}
			}
		}

		&.triggered {
			opacity: 1;
			transform: translate3d(0, 0, 0) !important;
			// transform: matrix(1, 0, 0, 1, 0, 0);
			transition: 1s ease-in-out !important;

			&.slow {
				transition: 1.5s ease-in-out !important;
			}

			&.fast {
				transition: 0.5s ease-in-out !important;
			}
		}
	}

	/////
	////
	/*/==================== @media ====================/*/ // {
	/////////////////
	////////////////
	////////////////////////
	/* @media (max-width) */
	////////////////////////

	@media (max-width: 1399.98px) {
		.fx {
		}
	}

	@media (max-width: 1199.98px) {
		.fx {
		}
	}

	@media (max-width: 991.98px) {
		.fx {
		}
	}

	@media (max-width: 767.98px) {
		.fx {
		}
	}

	@media (max-width: 575.98px) {
		.fx {
		}
	}

	// -------------- //

	////////////////////
	/* @media between */
	////////////////////

	@media (min-width: 576px) and (max-width: 767.98px) {
		.fx {
		}
	}

	@media (min-width: 576px) and (max-width: 991.98px) {
		.fx {
		}
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		.fx {
		}
	}

	@media (min-width: 992px) and (max-width: 1199.98px) {
		.fx {
		}
	}

	@media (min-width: 1200px) and (max-width: 1399.98px) {
		.fx {
		}
	}

	// ------------------ //

	////////////////////////
	/* @media (min-width) */
	////////////////////////

	@media (min-width: 576px) {
		.fx {
		}
	}

	@media (min-width: 768px) {
		.fx {
		}
	}

	@media (min-width: 992px) {
		.fx {
		}
	}

	@media (min-width: 1200px) {
		.fx {
		}
	}

	@media (min-width: 1400px) {
		.fx {
		}
	}

	// ---------------- //

	//////////////////////
	/* mobile landscape */
	//////////////////////

	@media (max-height: 400px) and (orientation: landscape) {
		.fx {
		}
	}

	// ----------------- //

	///////////////////////
	/* iPad Pro portrait */
	///////////////////////

	@media (width: 1024px) and (height: 1366px) {
		.fx {
		}
	}
	//  }
}
