// @use "@/components/<subfolder>/<filename>" as *; // File import statement

// >>> Controllers — START
@use "@/scss/controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END

.About_component {
	.el_team {
		border-top: 2px solid black;
	}
}

/////
////
/*/ ==================== @media ==================== /*/
/////////////
////////////
////////////////////////
/* @media (max-width) */
////////////////////////

@media (max-width: 1399.98px) {
	.About_component {
	}
}

@media (max-width: 1199.98px) {
	.About_component {
	}
}

@media (max-width: 991.98px) {
	.About_component {
	}
}

@media (max-width: 767.98px) {
	.About_component {
		.el_num {
			border-bottom: 1px solid black;
		}
	}
}

@media (max-width: 575.98px) {
	.About_component {
	}
}

// -------------- //

////////////////////
/* @media between */
////////////////////

@media (min-width: 576px) and (max-width: 767.98px) {
	.About_component {
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.About_component {
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.About_component {
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.About_component {
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.About_component {
	}
}

// ------------------ //

////////////////////////
/* @media (min-width) */
////////////////////////

@media (min-width: 576px) {
	.About_component {
	}
}

@media (min-width: 768px) {
	.About_component {
		.el_num {
			border-right: 1px solid black;
		}
	}
}

@media (min-width: 992px) {
	.About_component {
	}
}

@media (min-width: 1200px) {
	.About_component {
	}
}

@media (min-width: 1400px) {
	.About_component {
	}
}

// ---------------- //

//////////////////////
/* mobile landscape */
//////////////////////

@media (max-height: 400px) and (orientation: landscape) {
	.About_component {
	}
}

// ----------------- //

///////////////////////
/* iPad Pro portrait */
///////////////////////

@media (width: 1024px) and (height: 1366px) {
	.About_component {
	}
}

// ----------------------- //

/////////////////////////////
/* all browsers (iOS only) */
/////////////////////////////

@supports (-webkit-touch-callout: none) and (hover: none) and (pointer: coarse) {
	.About_component {
	}
}

// ------------------- //

/////////////////////////
/* Safari (MacOS only) */
/////////////////////////

@supports (-webkit-touch-callout: default) and (hover: hover) and (pointer: fine) {
	.About_component {
	}
}
