// @use "@/components/<subfolder>/<filename>" as *; // File import statement

// >>> Controllers — START
@use "@/scss/controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END

.grid_component {
	// .obj_example {
	// 	@at-root .grid_cont:not(:has(.example_target)) #{&} {
	// 		background-color: $variable_name;
	// 	}
	// }
	.obj_img_grid {
		max-width: 100%;
		max-height: auto;
		object-fit: contain;
	}
	.obj_cont_img {
		height: 400px;
	}
}

/////
////
/*/ ==================== @media ==================== /*/
/////////////
////////////
////////////////////////
/* @media (max-width) */
////////////////////////

@media (max-width: 1399.98px) {
	.grid_component {
	}
}

@media (max-width: 1199.98px) {
	.grid_component {
	}
}

@media (max-width: 991.98px) {
	.grid_component {
	}
}

@media (max-width: 767.98px) {
	.grid_component {
	}
}

@media (max-width: 575.98px) {
	.grid_component {
	}
}

// -------------- //

////////////////////
/* @media between */
////////////////////

@media (min-width: 576px) and (max-width: 767.98px) {
	.grid_component {
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.grid_component {
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.grid_component {
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.grid_component {
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.grid_component {
	}
}

// ------------------ //

////////////////////////
/* @media (min-width) */
////////////////////////

@media (min-width: 576px) {
	.grid_component {
	}
}

@media (min-width: 768px) {
	.grid_component {
	}
}

@media (min-width: 992px) {
	.grid_component {
	}
}

@media (min-width: 1200px) {
	.grid_component {
	}
}

@media (min-width: 1400px) {
	.grid_component {
	}
}

// ---------------- //

//////////////////////
/* mobile landscape */
//////////////////////

@media (max-height: 400px) and (orientation: landscape) {
	.grid_component {
	}
}

// ----------------- //

///////////////////////
/* iPad Pro portrait */
///////////////////////

@media (width: 1024px) and (height: 1366px) {
	.grid_component {
	}
}

// ----------------------- //

/////////////////////////////
/* all browsers (iOS only) */
/////////////////////////////

@supports (-webkit-touch-callout: none) and (hover: none) and (pointer: coarse) {
	.grid_component {
	}
}

// ------------------- //

/////////////////////////
/* Safari (MacOS only) */
/////////////////////////

@supports (-webkit-touch-callout: default) and (hover: hover) and (pointer: fine) {
	.grid_component {
	}
}
