// @use "@/components/<subfolder>/<filename>" as *; // File import statement

// >>> Controllers — START
@use "@/scss/controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END

.project_section_component {
	.obj_project_txt {
		transform: translateY(160px);
		opacity: 0;
		transition: all 1500ms ease-in-out 300ms;
		&.is_visible {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

/////
////
/*/ ==================== @media ==================== /*/
/////////////
////////////
////////////////////////
/* @media (max-width) */
////////////////////////

@media (max-width: 1399.98px) {
	.project_section_component {
	}
}

@media (max-width: 1199.98px) {
	.project_section_component {
	}
}

@media (max-width: 991.98px) {
	.project_section_component {
	}
}

@media (max-width: 767.98px) {
	.project_section_component {
	}
}

@media (max-width: 575.98px) {
	.project_section_component {
		// .obj_proj_img {
		// 	max-width: 30vw;
		// 	max-height: 40vh;
		// }
	}
}

// -------------- //

////////////////////
/* @media between */
////////////////////

@media (min-width: 576px) and (max-width: 767.98px) {
	.project_section_component {
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.project_section_component {
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.project_section_component {
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.project_section_component {
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.project_section_component {
	}
}

// ------------------ //

////////////////////////
/* @media (min-width) */
////////////////////////

@media (min-width: 576px) {
	.project_section_component {
		// .obj_proj_img {
		// 	max-width: 30vw;
		// 	max-height: 40;
		// }
	}
}

@media (min-width: 768px) {
	.project_section_component {
		// .obj_proj_img {
		// 	max-width: 40vw;
		// 	max-height: 60vh;
		// }
	}
}

@media (min-width: 992px) {
	.project_section_component {
		// .obj_proj_img {
		// 	max-width: 40vw;
		// 	max-height: 60vh;
		// }
	}
}

@media (min-width: 1200px) {
	.project_section_component {
	}
}

@media (min-width: 1400px) {
	.project_section_component {
	}
}

// ---------------- //

//////////////////////
/* mobile landscape */
//////////////////////

@media (max-height: 400px) and (orientation: landscape) {
	.project_section_component {
	}
}

// ----------------- //

///////////////////////
/* iPad Pro portrait */
///////////////////////

@media (width: 1024px) and (height: 1366px) {
	.project_section_component {
	}
}

// ----------------------- //

/////////////////////////////
/* all browsers (iOS only) */
/////////////////////////////

@supports (-webkit-touch-callout: none) and (hover: none) and (pointer: coarse) {
	.project_section_component {
	}
}

// ------------------- //

/////////////////////////
/* Safari (MacOS only) */
/////////////////////////

@supports (-webkit-touch-callout: default) and (hover: hover) and (pointer: fine) {
	.project_section_component {
	}
}
